.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-input {
  align-self: center;
  width: 40vw;
}

.App-btn {
  width: 30vw;
  align-self: center;
}

.message-block {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 40vw;
  background-color: rgb(240, 240, 240);
}